.App {
  text-align: center;
  height: 100vh;
}

#leftbox {
  float:left; 
  width:75%;
  height:100vh;
}

#rightbox {
  float:right;
  background:rgb(69, 69, 69);
  width:25%;
  height:100vh;
}

button {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 10px 60px;
  margin: 10px 0px;
  cursor: pointer;
}

h1 {
  margin: 0;
  color: white;
}